<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Convert your steno dictionary</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static "bootstrap-theme.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "theme.css" %}" rel="stylesheet">

   <link href="{% static "contradict.css" %}" type="text/css" rel="stylesheet"></head>

  <body>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron container-fluid">

	<div class="col-md-3" />
<a href="http://www.openbeelden.nl/media/22262/Demonstratie_met_een_stenotypemachine"><img src="{% static "steno-dude.jpg" %}" class="img-responsive" /></a>
	</div>

	<div class="col-md-9">

{% if uploaded %}
      <div class="alert alert-success" role="alert">
	Dictionary uploaded!
      </div>
{% endif %}

{% if deleted %}
      <div class="alert alert-danger" role="alert">
	You <em>did</em> upload <b>{{ deleted }}</b>, but
	it's been deleted on the server.
	Upload it again, and let's have another go.
      </div>
{% endif %}

{% if unknown_format %}
      <div class="alert alert-danger" role="alert">
	You uploaded a file, but it wasn't in any format I know how to convert.
	Sorry about that. Give it another go?
      </div>
{% endif %}

{% if our_id %}
      <div class="alert alert-info" role="alert">
You have uploaded: <b>{{ their_name }}</b>
({{ dict_size }} bytes).
Format: {{ dict_format }}
      </div>
{% endif %}

        <p>
		Convert your steno dictionary 
		to JSON or RTF.
	</p>


{% if our_id %}
<div class="btn-group" role="group" aria-label="Format for downloading">
  <button type="button" class="btn btn-default">Download as JSON</button>
  <button type="button" class="btn btn-default">Download as RTF</button>
</div>

<p>Or you can start again from the beginning.</p>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-default">Start again</button>
</div>

{% endif %}

{% if form %}
<p>
<form action="/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</p>
{% endif %}

	</div>
      </div>
</div>



</body> </html>
